<nav class="navbar navbar-expand-sm navbar-default">
    <div id="main-menu" class="main-menu collapse navbar-collapse">
        <ul class="nav navbar-nav">
            <li class="active">
                <a href="nxt_index.html"><i class="menu-icon fa fa-laptop"></i>Dashboard </a>
            </li>
            <li class="menu-title">Devices</li><!-- /.menu-title -->
            <li>
                <a href="widgets.html"> <i class="menu-icon fa fa-plus"></i>Add new device</a>
            </li>
            <li class="menu-item-has-children dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <i class="menu-icon fa fa-hdd-o"></i>Matrix</a>
                <ul class="sub-menu children dropdown-menu">
                    <li><i class="fa fa-hdd-o"></i><a href="matrix">ALPMTRX01</a></li>
                </ul>
            </li>
            <li class="menu-item-has-children dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <i class="menu-icon fa fa-camera"></i>AI Cameras</a>
                <ul class="sub-menu children dropdown-menu">
                    <li><i class="fa fa-camera"></i><a href="camera">ALPSTASELL2</a></li>
                </ul>
            </li>
            <li class="menu-item-has-children dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <i class="menu-icon fa fa-star"></i>Service rating</a>
                <ul class="sub-menu children dropdown-menu">
                    <li><i class="menu-icon fa fa-bar-chart-o"></i><a href="forms-basic.html">ALPCAL01</a></li>
                    <li><i class="menu-icon fa fa-bar-chart-o"></i><a href="forms-advanced.html">ALPCAL02</a></li>
                </ul>
            </li>
            <li class="menu-item-has-children dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <i class="menu-icon fa fa-desktop"></i>SonIA</a>
                <ul class="sub-menu children dropdown-menu">
                    <li><i class="menu-icon fa fa-desktop"></i><a href="sonia">ALPSON01</a></li>
                </ul>
            </li>
            <li class="menu-item-has-children dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <i class="menu-icon fa fa-user"></i>Plays</a>
                <ul class="sub-menu children dropdown-menu">
                    <li><i class="menu-icon fa fa-user"></i><a href="forms-basic.html">ALPPDIG01</a></li>
                    <li><i class="menu-icon fa fa-user"></i><a href="forms-advanced.html">ALPPDIG02</a></li>
                </ul>
            </li>

            <li class="menu-title">Contenidos</li><!-- /.menu-title -->

            <li class="menu-item-has-children dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <i class="menu-icon fa fa-users"></i>Campaigns</a>
                <ul class="sub-menu children dropdown-menu">
                    <li><i class="fa fa-play-circle"></i><a href="video">Videos</a></li>
                    <li><i class="fa fa-users"></i><a href="tables-basic.html">Campaigns</a></li>
                </ul>
            </li>
            <li class="menu-item-has-children dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <i class="menu-icon fa fa-bar-chart-o"></i>Surveys</a>
                <ul class="sub-menu children dropdown-menu">
                  <li><i class="fa fa-align-left"></i><a href="tables-basic.html">Questions</a></li>
                    <li><i class="fa fa-bar-chart-o"></i><a href="tables-basic.html">Surveys</a></li>
                </ul>
            </li>
            <li>
                <a href="widgets.html"> <i class="menu-icon fa fa-graduation-cap"></i>SonIA training</a>
            </li>
            <li class="menu-title">Feedback</li><!-- /.menu-title -->
            <li>
              <a href="widgets.html"> <i class="menu-icon fa fa-suitcase"></i>BI data</a>
            </li>
            <li>
              <a href="widgets.html"> <i class="menu-icon fa fa-star"></i>Rating</a>
            </li>
            <li>
              <a href="widgets.html"> <i class="menu-icon fa fa-bar-chart-o"></i>Surveys</a>
            </li>
        </ul>
    </div><!-- /.navbar-collapse -->
</nav>
